body {
    background: url('../images/Unbgnew-01-01.png') no-repeat center center fixed;
    background-size: auto 99.9%;
    -webkit-background-size: 99.9%;
    -moz-background-size: 99.9%;
    -o-background-size: 99.9%;
    min-height: 100vh;
    overflow-x: hidden;
}

@font-face {
    font-family: 'Nexa';
    src: url('Nexa-Font/Nexa\ Bold.otf');
    font-weight: 700;
}

@font-face {
    font-family: 'NexaBold';
    src: url('Nexa-Font/NexaBlack.otf');
}

@font-face {
    font-family: 'NexaThin';
    src: url('Nexa-Font/NexaThin.otf');
}

ul {
    position: absolute;
    top: 38px;
    z-index: 2;
    left: 330px;
}

.nav-item a {
    font-family: 'Nexa';
    color: black;
    font-size: 35px;
}

main .float-left .nav-link {
    position: fixed;
    font-family: 'Nexa';
    color: black;
    font-size: 20px;
    top: 300px;
    left: 0px;
    transform: rotate(90deg);
    transform-origin: top left;
    margin-left: 4rem;
}

main .float-right .nav-link {
    position: fixed;
    font-family: 'Nexa';
    color: black;
    font-size: 20px;
    top: 300px;
    right: 50px;
    transform: rotate(-90deg);
    transform-origin: top right;
    margin-left: 4rem;
}

.container-flude {
    position: fixed;
    top: 550px;
    left: 60px;
}

.container-flude h2 {
    font-family: 'NexaBold';
    line-height: 110%;
    font-size: 35px;
}

.container-flude p {
    font-family: 'NexaThin';
    font-size: 17px;
    line-height: 110%;
    font-weight: 600;
}

.footer h6 {
    position: fixed;
    padding-right: 120px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
}